# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------------
# VS Code settings
# ------------------------------
.vscode/

# ------------------------------
# Runtime uploads (generated videos/images)
# ------------------------------
static/uploads/

# ------------------------------
# Dataset videos (large files)
# ------------------------------


# ------------------------------
# AI model weights (YOLO, etc.)
# ------------------------------
*.pt

# ------------------------------
# Trained ML models
# ------------------------------
*.pkl

# ------------------------------
# Jupyter Notebook checkpoints
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# System files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Environment files
# ------------------------------
.env
