# -----------------------------
# Core Framework
# -----------------------------
Flask==3.0.3

# -----------------------------
# Computer Vision
# -----------------------------
opencv-python==4.10.0.84
ultralytics==8.4.14

# -----------------------------
# Machine Learning
# -----------------------------
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2

# -----------------------------
# Visualization / Utilities
# -----------------------------
matplotlib==3.9.0
Pillow==10.3.0

# -----------------------------
# Jupyter Kernel Support
# -----------------------------
ipykernel==6.29.5
notebook==7.2.1
